# EN ESTA NOTEBOOK SE IMPLEMENTARÁN LOS ALGORITMOS DE INTELIGENCIA ARTIFICIAL SUPERVISADOS Y SE EVALUARÁN LOS RESULTADOS PARA EL PROYECTO

## ARBOLES DE DECISIÓN

In [1]:
#importanción de librerías a utilizar

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

#ARBOL DE DECISIÓN
from sklearn.tree import DecisionTreeClassifier

In [2]:
# IMPORTACIÓN DEL DATASET REDUCIDO LUEGO DEL PROCESAMIENTO DE COLUMNAS

df = pd.read_csv('friesgo_2018_reduc.csv',  sep=',', encoding='utf-8')

df.head(5)

,id,region,tamanio_aglomerado,localidades_150,tipo_vivienda,obtiene_gas,obtiene_agua,baño,cant_componentes,tipo_hogar,...,colesterol_alto,prevalencia_colesterol,consumido_alcohol,consumo_regular_riesgo,dijeron_diabetes,fue_embarazo,familiares_directos_diabetes,familiares_no_directos_diabetes,medicion_azucar,control_diabetes
0,1128639,1,1,1,3,1,1,1,2,2,...,2,2.0,1,2.0,2,NaN,2,2,2,1
1,1709939,1,1,1,1,1,1,1,3,4,...,1,1.0,1,2.0,2,NaN,2,2,1,1
2,6874130,1,1,1,3,1,1,1,2,2,...,2,2.0,1,2.0,2,NaN,2,2,2,1
3,10319375,1,1,1,3,4,1,1,1,1,...,1,1.0,1,2.0,2,NaN,2,1,2,1
4,11140857,1,1,1,3,1,1,1,2,8,...,2,2.0,1,2.0,2,NaN,2,99,1,1